<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile card </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
     <link rel="stylesheet" href="bio.css"> 
    
</head>


<body>
    <%- include('./partials/nav.ejs')%>
    <div class="container">
    <img src="shanjai_passport.jpeg" alt="Shanjai profile picture" class="profile">
        <div class="bio">
    <h1>Hi i'm Shanjai Kumar 🥷</h1>
    <h2>Front End Developer </h2>
    <p><h1>"Turn Your Ideas into a Product 📦"</h1></p>
    <a href="https://www.linkedin.com/in/shanjayvm/" class="fa fa-linkedin" target="_blank"></a>
   
    <a class="fa fa-github fa-3x" href="https://github.com/sAnju3888/" target="_blank"></a>
        </div>
    <img src="qr_code.jpg" alt="Qr code of shanjai to connect" class="qr">
    </div>
</body>

</html>
